*{
    color: #ffd000; 
}
body{
    background-image: url("./img/poke-app.jpg");
    background-color: rgba(218,165,32,.3);
    font-family: 'Righteous', cursive;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-shadow: black;
    text-align: center;
    overflow: scroll;
}



.jumbotron{
    background-color: rgba(233, 190, 0, 0.3);
    color: goldenrod;

}

button,
.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;

    background-color: rgba(233, 190, 0, 0.3);
    outline: #ffd000;
}

span, a{
    color: #8b0000;
}

.btn-block, .chosen-select {
    display: inline-block;
    width: 50%;
    background-color: white;
    color: #8b0000;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        padding-top: 10%;

    }
}


.form-control {
    display: inline;
    width: 75%;
}

img {
    border: 0;
    width: 50%;
}


.footer{
    position: fixed;
}